{% extends 'layout/main.html' %}
{%block title%}
<title>My Cart</title>
{%endblock%}
{% block content %}
<!-- Cart content -->
<div class="container my-5" id="download-app">
    <h2>Giỏ hàng của bạn</h2>

    <table class="table table-bordered cart-table">
        <thead>
        <tr>
            <th>Sách</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tổng cộng</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        {% for item in books %}
        <tr>
            <td>
                <strong>{{ item.name }}</strong><br>
                <small>{{ item.description }}</small>
            </td>
            <td class="price">{{ item.price }} VND</td>
            <td>
                <!-- Form cập nhật số lượng -->
                <form method="POST" action="/update_quantity">
                    <input type="hidden" name="book_id" value="{{ item.book_id }}">
                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="10" class="quantity"
                           data-price="{{ item.price }}" style="width: 50px;" onchange="this.form.submit();">
                </form>
            </td>
            <td class="total">{{ item.total }} VND</td>
            <td>
                <form method="POST" action="/remove_from_cart">
                    <input type="hidden" name="book_id" value="{{ item.book_id }}">
                    <button class="btn btn-danger btn-sm" type="submit">Xóa</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Display total price -->
    <div class="total-price">
        <h3>Tổng cộng: {{ total_price }} VND</h3>
    </div>
    <div class="checkout">
        <form method="POST" action="/payment">
            <button class="btn btn-success btn-lg">Thanh toán</button>
        </form>
    </div>

</div>
{% endblock %}

