{%extends 'layout/main.html'%}
{%block title%}
<title>Home</title>
{%endblock%}
{%block content%}
	<section id="billboard">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<button class="prev slick-arrow">
						<i class="icon icon-arrow-left"></i>
					</button>

					<div class="main-slider pattern-overlay">
						{% if flag == 0 %}
						<div><p>Hello Anh em nha</p></div>
						{% else %}
						{% for b in books %}
						<div class="slider-item">
							<div class="banner-content">
								<h2 class="banner-title">{{b.name}}</h2>
								<p>{{b.description}}</p>
								<div class="btn-wrap">
									<a href="#" class="btn btn-outline-accent btn-accent-arrow">Read More<i
											class="icon icon-ns-arrow-right"></i></a>
								</div>
							</div><!--banner-content-->
							<img src="{{b.image}}" alt="banner" class="banner-image">
						</div><!--slider-item-->
						{% endfor %}
						{% endif %}
					</div><!--slider-->

					<button class="next slick-arrow">
						<i class="icon icon-arrow-right"></i>
					</button>

				</div>
			</div>
		</div>

	</section>
{%endblock%}
