{%extends 'layout/main.html'%}
{%block title%}
<title>Our Store</title>
{%endblock%}
{%block content%}
<section id="popular-books" class="bookshelf py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Some quality items</span>
                    </div>
                    <h2 class="section-title">Our Books</h2>
                </div>

                <ul class="tabs">
                    <!-- Tab "All" -->
                    <li data-tab-target="#all-genre" class="tab {% if not active_cate_id %}active{% endif %}">
                        <a href="/ourstore">All</a>
                    </li>

                    <!-- Các tab danh mục -->
                    {% for c in categories %}
                    <li data-tab-target="#all-genre"
                        class="tab {% if active_cate_id and active_cate_id|int == c.id %}active{% endif %}">
                        <a href="/ourstore?category_id={{ c.id }}">{{ c.name }}</a>
                    </li>
                    {% endfor %}
                </ul>


                <div class="tab-content">
                    <div id="all-genre" data-tab-content class="active">
                        {% if books %}
                        <div class="row">
                            {% for book in books %}
                            <div class="col-md-3">
                                <div class="product-item">
                                    <form action="/add_to_cart" method="POST">
                                        <figure class="product-style">
                                            <img src="{{ book.image }}" alt="{{ book.name }}" class="product-item">
                                            <button type="submit" class="add-to-cart">Add to Cart</button>
                                        </figure>
                                        <figcaption>
                                            <h3>{{ book.name }}</h3>
                                            <span>{{ book.publisherName }}</span>
                                            <div class="item-price">${{ book.price }}</div>
                                        </figcaption>
                                        <input type="hidden" name="book_id" value="{{ book.id }}">
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <p>No books available for this category.</p>
                        {% endif %}

                    </div>
                </div>
            </div><!--inner-tabs-->

        </div>
    </div>
</section>
{%endblock%}