{% extends 'layout/main.html' %}

{% block title %}
<title>Popular Books</title>
{% endblock %}

{% block favicon %}
<link rel="icon" href="{{ url_for('static', filename='images/book.svg') }}" type="image/x-icon">
{% endblock %}

{% block content %}
<section id="popular-books">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <h2 class="section-title">Popular Books</h2>
                </div>

                <div class="product-list" data-aos="fade-up">
                    <div class="row">
                        {% for item in books %}
                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <!-- Display the book image -->
                                    <img src="{{item.book.image}}"
                                         alt="{{ item.book.name }}" class="product-item">
                                    <form action="{{ url_for('add_to_cart') }}" method="POST">
                                        <input type="hidden" name="book_id" value="{{ item.book.id }}">
                                        <!-- Hidden input with the book ID -->
                                        <button type="submit" class="add-to-cart">Add to Cart</button>
                                    </form>
                                </figure>
                                <figcaption>
                                    <!-- Display the book name, author, and price -->
                                    <h3>{{ item.book.name }}</h3>
                                    <span>{{ item.book.publisherName }}</span>
                                    <div class="item-price">{{ "{:,.0f}".format(item.book.price) }} VNĐ</div>
                                </figcaption>
                            </div>
                        </div>
                        {% endfor %}
                    </div><!--ft-books-slider-->
                </div><!--grid-->

            </div><!--inner-content-->
        </div>
    </div>
</section>
{% endblock %}
